@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100&family=Ubuntu:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Open+Sans:wght@300&display=swap');




:root{
    --backgroundcolor: rgb(14, 14, 19);
    --headingcolor: #0071c5;
    --linkcolor: #ad974f;
    --greybackground:#231F20;
    --whitecolor:rgb(255,255,240);
    --lightgreycolor: #d3d3d3;
    --goldcolor:#FFD700;
}


    



*{
    margin:0;
}

body{
    margin:0;
    box-sizing: border-box 0;
    font-family: 'open san';
    color:#fefefa ;

};

/*navbar styling*/
.navbar{
    justify-content: space-evenly;
    height:10px;
}
.navbar ul{
    display: flex;
    margin-right: 3%;
}

.navbar ul li{
    list-style: none;
    margin-left: 30px;
}

 .navbar ul li a{
    text-decoration: none;
    color: var(--goldcolor);
    align-items: center;
    flex-wrap: wrap;
    padding:10px 20px;
    font-family: 'Montserrat';
    font-weight: bold;
    text-transform: capitalize;
    transition:ease-in-out 0.5s;
}

 .navbar ul li a:hover{
     color: var(--linkcolor);
    border-bottom: solid 1px;
    border-color: var(--linkcolor);

 }

 

#name{
    color: var(--linkcolor);
    font-family: 'Montserrat';
    font-weight: bold;
    text-transform: capitalize;
    flex-wrap: wrap;
}



/*vieewport*/
main{
width: 100vw;
height: 100vh;
background-color:var(--backgroundcolor);
}

.secondary-container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5%;

}
/*container with profile image*/
.image-container{
    margin-left: 20%;
    text-align: center;
    padding: 2%;
    
}

#profile-image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
}

#my-name-image{
    color: var(--greybackground);
    font-size: 14px;
    text-transform: capitalize;

}

.software{
    color: var(--linkcolor);
    margin-top: 10px;
}

.unc{
    color: var(--headingcolor);

}
/*container with biography and interst*/
.bio-container{
    text-align: left;
    padding: 1%;
    
}

a{
    text-decoration: none;
    color: var(--linkcolor);

}

.biography{
    margin-bottom: 7%;
    font-family: 'Montserrat';
    font-weight: 600;
    color: var(--headingcolor);
}

#bio-paragraph{
    line-height: 1.65;
}
#uncc{
    transition: ease-in-out 0.5s;
}
#uncc a:hover{
    color: rgb(250,250,210);
}

.interest-edu{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top:3% ;

}

.education,.interest {
    display: flex;
    flex-direction: column;
}
.education{
    list-style: none;
    transition: ease-in-out 05s;
}

#my-interest, #my-education{
    font-family: 'montserrat';
    font-weight: bold;
    color: var(--goldcolor);
    text-transform: capitalize;
    transition: ease-in-out 0.5s;
}

.education a:hover{
    color:rgb(156, 152, 87);
}


#icons{
    list-style: none;
    display:flex;
    justify-content: space-evenly;
    
}

#icons li{
    padding: 10px;
    
}

.facebook{
    color:rgb(24, 119, 242) ;

    transition: ease-in-out 0.5s;
}



.github{
    color:#c9510c ;
}




/*projecthtml*/

.second-nav{
    height: 85px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
}

.home-div ,.project-div, .collaborators{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-family: 'montserrat';
    font-size: 1.5rem;
    font-weight: bolder;
    text-transform: capitalize;
    transition: ease-in-out 0.5s;
}

.home-div:active{
    color: var(--linkcolor);
}



.second-nav a{
    text-decoration: none;
    text-decoration-color: none;
    color: var(--goldcolor);
}

.image-1-div{
    width: 80%;
    height:400px;
    background-image: url("../images/group-project.jpeg");
    object-fit: cover;
    margin-left: 18%;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
}


.image-2-div{
    width: 80%;
    height:400px;
    background-image: url("../images/password-generator.jpeg");
    object-fit: cover;
    margin-left: 18%;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
}


.image-3-div{
    width: 80%;
    height:400px;
    background-image: url("../images/daily-planner.jpeg");
    object-fit: cover;
    margin-left: 18%;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
}

.image-wrap{
    text-align: center;
    background-color: var(--backgroundcolor);
    padding: 20px 0;
}



.footer-wrap{
    background-color:var();
    height: 100px;
}

article{
    margin-top: 15px;
    padding: 2%;
}

.special-1,.special-2, .special-3{
    margin-bottom: 15px;
    text-align: center;
}
.special-4{
    margin: 5% 0;
    text-align: center;
}
#collaborators-work{
    text-align: center;

}

 .colabarators-list{
list-style: none;
 }

 #mentors, #calab, #project-para{
     color:var(--backgroundcolor)
 }

.footer-wrap{
    background-color: var(--greybackground);
    padding: 5%;
    color: white;
    text-align: center;
    padding: 10px 0;

    
}